@use '../custom' as *;

.intro {
    background: $primary;
    font-family: $font-textos;
    #perfil {
        width: 70%;
        img.make {
            opacity: 100;
            display: block;
            width: 100%;
            transition: opacity 0.5s, display 0.5s;
        }
        img.make-hover {
            opacity: 0;
            display: none;
            width: 100%;
            transition: opacity 0.5s, display 0.5s;
        }
    }
    /*#perfil:hover {
        img.make {
            opacity: 0;
            display: none;
            width: 100%;
            transition: opacity 0.5s, display 0.5s;
        }
        img.make-hover {
            opacity: 100;
            display: block;
            width: 100%;
            transition: opacity 0.5s, display 0.5s;
        }
    }*/
    .intro-text {
        text-align: justify;

        h1 {
            font-size: 2rem;
            color: white;
            font-weight: 700;
        }

        p {
            font-size: 1.3rem;
            color: white;
        }

        a {
            border-radius: 200px;
            padding-top: 16px;
            font-size: 1.2rem;
            width: 280px;
            height: 88px;
            font-weight: bold;
        }
    }

}

@media(min-width:768px) {
    .intro {
        #perfil {
            width: 45%;

            img {
                width: 100%;
            }
        }

        .intro-text {
            width: 40%;

            h1 {
                font-size: 3.5rem;
            }

            p {
                font-size: 1.5rem
            }
        }
    }
}


@media(min-width:1200px) {
    .intro {
        #perfil {
            width: 20%;
            img {
                width:100
            }
        }

        .intro-text {
            width: 40%;

            h1 {
                font-size: 3rem;
            }

            p {
                font-size: 1.5rem;
            }
        }
    }
}