@use '../custom' as *;

.menu {
    margin-bottom: 0 auto;
    font-family: $font-textos;
    a{
        color: $white !important; 
        font-weight: 700;
    }
    li {
        padding:0 0.7rem;
    }
}